@model IEnumerable<BlogEntries_CSharp.Models.BlogEntry>

<p>
    @Html.ActionLink("Create New", "Create")
</p>

<table class="table">
    <tr>
        <th>Date</th>
        <th>Title</th>
    </tr>
   
@foreach (var item in Model)
{
    <tr>
        <td>
            @item.DateTime
            @item.Title
            @Html.ActionLink("Edit", "Edit", "BlogEntry", new { item.Slug }, null) |
            @Html.ActionLink("Details", "Details", "BlogEntry", new { item.Slug }, null) |
            @Html.ActionLink("Delete", "Delete", item.Slug)
        </td>
    </tr>
}

</table>
